body {
    background: #899aab;
}

div#container {
    background-image: url(homeIMGS/bedroomDay.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/******** Font Styling ********/
h1 {
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    color: #FFFFFF;
    font-size: 55px;
}

h2 {
    font-family: "Merriweather Sans", sans-serif;
    color: #3E4A77;
    background-color: #FFFFFF;
    font-size: 16px;
    margin: 0 14%;
}

a, a:visited {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding: 4px 1px;
}

a:hover {
    background-color: #52708d;
    color:#FFFFFF;
    list-style: none;
}

a:hover::before {
    content: ' \2022 ';
}

h3 {
    font-family: "Jomhuria", serif;
    font-size: 36px;
    color: #3E4A77;
    margin: 0;
}

button {
    left: -10px;
    font-family: "Jomhuria", serif;
    position: fixed;
    font-size: 50px;
    rotate: 270deg;
    top: 50vh;
    border: none;
    border-radius: 16px;
    width: 107px;
    box-shadow: -3px -6px 0px #372A3A;
}

button:hover {
    background-color: #372A3A;
    color: antiquewhite;
}

/******** Header ********/
header {
    text-align: center;
    padding: 5% 0;
}

/******** Sections ********/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}

section {
    background-color: #d9d9d9bd;
    width: 55vw;
    padding: 22px;
    border-radius: 30px;
}

nav ul, nav ol {
    margin: 0;
}

li {
    list-style: none;
    padding: 10px 0;
}

section#projects {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

div#monster {
    /* display: none; */
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.5s ease;
}

div#monster:hover {
    opacity: 0;
}

/******** Alternative Styling ********/
body.night {
    background-color: #3e4a77;
}
h1.night {
    color: #CC7A82;
}

h2.night {
    background-color: #CC7A82;
    color: #372A3A;
}

section.night {
    background-color: #372a3abd;

}

h3.night {
    color: #CC7A82;
}

nav ul li a.night, nav ol li a.night {
    color: #CFCECF;
}

a:hover.night {
    background-color: #CC7A82;
}

div#container.night {
    background-image: url(homeIMGS/bedroomNight.png);
}

button.night {
    background-color: #372A3A;
    color: #CFCECF;
    box-shadow: -3px -6px 0px #899aac;
}

button:hover.night {
    background-color: #CC7A82;
    color: #372A3A;
}

/* div#monster.night {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 44%;
} */



@media only screen and (min-width: 900px) {
    
    /* change this later to be responsive <3 */
    body {
        background-color: lightblue;
        background-image: url(homeIMGS/bedroomDay.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        margin: 10px 95px;
    }

    div#container {
        background: none;
        align-items: center;
        height: 100vh;
        width: 100vw;

    }

    section {
        width: auto;
    }

    /******** Alternative Styling ********/
    body.night {
        background-image: url(homeIMGS/bedroomNight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div#container.night {
        background: none;
    }

    div#monster.night {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-image: url('homeIMGS/monster.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
  }