/************ TYPOGRAPHY  ************/
body {
    background-image: url(images/paperBackground.png);
    background-size: cover;
    height: 150vh;
    overflow-x: hidden;
}

h1 {
    font-family: "Ultra", serif;
    color: #C48C3F;
    font-size: 75px;
    margin: 0%;
}

p, a, a:visited {
    font-family: "Outfit", sans-serif;
    color: #F1D476;
    font-size: 20px;
}

/************* SECTION STYLING *************/

body::before {
    content: '';
    display: block;
    height: 45vh;
} 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 15px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10%;
    color: #372526;
}

/************* CUSTOM DIVS *************/
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


div#barBack img{
    width: 100%;
}

#glassLeft, #glassRight {
    position: absolute;
    bottom: -30px;
}
  
#glassLeft {
    left: 0px;
}
  
#glassRight {
    right: -50px;
}
  
#glassLeft img, #glassRight img {
    transition: transform 1s ease;
    width: 575px;
}

#glassLeft img {
    transform: rotate(30deg);
}
  
#glassRight img {
    transform: rotate(-30deg);
}