body {
    background-color: black;

}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}

/* poem lines */
#lyrics p, #lyrics img{
    position: absolute;
    margin: 0;
    font-family: "Winky Rough", sans-serif;
    animation: squigglevision 0.4s infinite alternate;
}

.squiggleVision {
    animation: squigglevision 0.4s infinite alternate;
}


#line1 {
    bottom: 10px;
    left: 15px;
    font-size: 8.1em;
    color: aquamarine;
    background-color: rgba(35, 36, 37, 0.507);
    padding: 1%;
}

#line2 {
    width: 150px;
    left: 40%;
    top: 15%;

}

#line3 {
    font-size: 7em;
    width: 20%;
    color: aquamarine;
    left: 15px;
}

#line4 {
    text-align: right;
    font-size: 7em;
    width: 20%;
    color: aquamarine;
    right: 135px;
    bottom: 10px;
}

#line5 {
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-size: 5em;
    padding: 50px;
    width: 15%;
    bottom: 10px;
    right: 135px;
}

.fa-expand {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 45px;
    color:aquamarine;
    z-index: 3;
}

.fa-expand:hover {
    cursor: pointer;
}

/* loading animation */
.fa-water {
    position: absolute;
    top: 50%;
    left: 50%; 
    font-size: 36px;
    color: aquamarine;
    transform: translate(-50%, -50%);
    animation: water 2s infinite alternate ease-in-out;
}

@keyframes water {
    0% {
        transform: rotate(0deg);
      }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes squigglevision {
    0% {
      filter: url("#turbulence-1");
    }
    25% {
      filter: url("#turbulence-2");
    }
    50% {
      filter: url("#turbulence-3");
    }
    75% {
      filter: url("#turbulence-4");
    }
    100% {
      filter: url("#turbulence-5");
    }
}

.showing {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in;

}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in;
}


/* toggle switch */
.switch {
    position: fixed;
    top: 20px;
    right: 70px;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 10;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px;
    left: 4px; 
    bottom: 4px;
    background-color: rgb(17, 15, 15);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: aquamarine;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}